@import "var.scss";

body {
    justify-content: space-between !important;
    display: block;
}

.pageWrapper {
    margin-top: 50px;
    max-width: 1000px;
    border-radius: 20px;
    padding: 30px;
    box-shadow: $shadow;
    position: relative;

    animation-name: showContent;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    
    margin-left: 50%;
    transform: translate(-50%, 0%);

    width: calc(100% - 60px);

    a {
        color: $darkOne;
        word-wrap: break-word;
    }

    h1 {
        word-wrap: break-word;
    }

    h2 {
        word-wrap: break-word;
    }

    .backButton {
        position: absolute;
        top: 51.4px;
        right: 30px;
    }

    @media screen and (max-width: 650px) {
        padding-top: 100px;
    }
}



.footer {
    width: auto !important;
    position: relative !important;

    box-shadow: $shadow;
    bottom: 15px;
    max-width: 1000px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
    p {
        margin-bottom: 10px;
    }
    a {
        text-decoration: none;
        color: #000;

    }
}

@keyframes showContent {
    0% {
        margin-top: 100%;
    }
    100% {
        margin-top: 50px;
    }
}

@keyframes hideContent {
    0% {
        margin-top: 50px;
    }
    100% {
        margin-top: 100%;
    }
}