@import "var.scss";

    #overlayContent {
        #profile {
            overflow-y: scroll;
            height: 500px;
            h3 {
                text-align: center;
                margin-top: 30px;
            }

            .statsWrapper {
                display: flex;
                justify-content: space-around;

                .stat {
                    box-shadow: $shadowSoft;
                    border-radius: 10px;
                    padding: 10px 5px;
                    width: 147px;

                    p {
                        margin: 13px;
                    }

                    .data { 
                        text-align: center;
                    }

                    .caption {
                        text-align: center;
                        font-size: 14px;
                        color: gray;
                    }
                }
            }

            .chartWrapper {
                height: 400px;
                width: calc(100% - 60px);
                display: flex;
                padding: 30px;
                padding-bottom: 50px;
                justify-content: space-around;
                flex-wrap: wrap;
                // background-color: red;

                .oneChart {
                    margin: 15px  5px;
                    width: 400px;
                    box-shadow: $shadow;
                    border-radius: 10px;
                    padding: 20px;
                    height: 290px;

                    h1 {
                        margin: 20px 0;
                    }

                }

                .emptyChart {
                    margin: 15px  5px;
                    width: 400px;
                    padding: 20px;
                    height: 1px;
                }
            }
        }
    }