@import "var.scss";

#blackBox {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
    position: fixed;
    z-index: 10;
    transition: 400ms;
    display: none;
}

#sidebarWrappers {
    position: fixed;
    left: 0;
    z-index: 13;

    .sidebar {
        background-color: white;
        box-shadow: $shadow;
        padding: 20px;
        border-radius: 0 20px 20px 0;
        max-width: 250px;
        width: 95%;
        transition: 300ms;
        z-index: 10;

        @media screen and (max-width: 1080px) {
            width: 75px;
        }
    
        .sidebarButton {
            clear: both;
            margin-bottom: 25px;
            margin-top: 25px;
            margin-left: 25px;
        
            &.hidden {
                display: none;
            }

            @media screen and (max-width: 1080px) {
                font-size: 0;
                width: 60px;
                margin-left: 10px;

                img {
                    display: block;
                    margin-left: 10px;
                }
            }

            &:hover {
                @media screen and (max-width: 1080px) {
                    background-color: $darkOne;
                    border: none;
                }
            }
        }

        &.loginSidebar {
            margin-top: 30px;
        }

        
    
    }
}


