@import "var.scss";

#sidebar {
    position: fixed;
    background-color: white;
    left: 0;
    box-shadow: $shadow;
    padding: 20px;
    border-radius: 0 20px 20px 0;
    max-width: 250px;
    width: 95%;
    transition: 300ms;
    height: 373px;
    z-index: 10;
    
    &.sidebarOpen {
        
        // max-width: 1100px;
        max-height: 700px;
        height: 80%;

        border-radius: 20px;

        max-width: 1100px;
        animation-name: openSidbar;

        // animation-delay: 0.5s;
        // -webkit-animation-delay: 0.2s;

        animation-duration: 0.1s;
        animation-fill-mode: forwards;
    }

    .sidebarButton {
        clear: both;
        margin-bottom: 25px;
        margin-top: 25px;
        margin-left: 25px;
    
        &.hidden {
            display: none;
        }
    }

    #sidebarContent {
        opacity: 0;   

        h1 {
            margin-top:  -40px;
            text-align: center;
        }

        .siderbarCloseButton {
            position: absolute;
            top: 45px;
            right: 45px;
            width: 80px;
        }
    } 
}



.sidebarOpen {
    .sidebarButton {
        animation-name: hideButton;
        animation-duration: 0.1s;
        animation-fill-mode: forwards;
    }

    #sidebarContent {
        animation-name: showSidebarContent;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        -webkit-animation-delay: 0.1s;
    }
}

.close {
    .sidebarButton {
        animation-name: showButton;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        // -webkit-animation-delay: 0s;
    }

    #sidebarContent {
        animation-name: hideSidebarContent;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
    }
}

@keyframes openSidbar {
    0% {
        transform: translateX(0%);
        left: 0%;

    }
    100% {
        transform: translateX(-50%);

        left: 50%;
        
    }
}

@keyframes hideButton {
    0% {
        opacity: 1;
        display: block;
    }
    99% {
        opacity: 0;
    
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes showSidebarContent {
    0% {
        opacity: 0;   
    }
    100% {
        opacity: 1;   
    }
}

@keyframes showButton {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hideSidebarContent {
    0% {
        opacity: 1;   
    }
    100% {
        opacity: 0;   
    }
}