@import "var.scss";

    #overlayContent {

        h1 {
            @media screen and (max-width: 950px) {
                font-size: 0;
                padding-bottom: 43px;

            }
        }
        .currentSelection {
            position: absolute;
            left: 0px;
            top: 35px;
            min-width: 200px;
            height: 70px;
            
            border-radius: 10px;
            margin-left: 2.5%;
            justify-content: center;


            .selectedTag {
                position: absolute;
                top: -5px;
                left: 78px;
                color: gray;
                font-size: 12px;
            }

            .selected {
                box-shadow: $shadowSoft;
                display: flex;
                justify-content: start;
                border-radius: 10px;
                margin-top: -10px;

                img {
                    height: 60px;
                    margin-top: 8px;
                    margin-left: 20px;
                }

                .name {
                    font-weight: bold;
                    font-size: 22px;
                    margin-left: 10px;
                    margin-top: 32px;
                    margin-right: 20px;
                }

                .author {
                    margin-left: 10px;
                    margin-top: 31px;
                    font-size: 14px;
                    color: gray;
                    margin-right: 20px;

                }
            }
            
        }

        #textSelector {

            .tabSelector {
                overflow: hidden;
                margin-top: 60px;
                width: 60%;
                margin-left: 20%;
                display: flex;
                justify-content: space-between;
                z-index: 5;

                .tabItem {
                    padding: 5px 20px;
                    text-align: center;
                    color: $darkOne;
                    width: 120px;
                    background-color: $backgroundColor;
                    border-radius: 10px;
                    cursor: pointer;
                    border: 2px solid $darkOne;
                    z-index: 5;
                    margin: 0 20px;
                }
            }

            .books {
                &.tabSelector {
                    .books {
                        color: white;
                        background-color: $darkOne;
                    }
                }
            }

            .generale {
                &.tabSelector {
                    .generale {
                        color: white;
                        background-color: $darkOne;
                    }
                }
            }

            .courses {
                &.tabSelector {
                    .courses {
                        color: white;
                        background-color: $darkOne;
                    }
                }
            }

            .tabContent {
                margin-top: -60px;
                width: 95%;
                height: calc(100% - 145px);
                box-shadow: $shadowSoft;
                border-radius: 10px;
                margin-left: 2.5%;
            }
        }
    }
