$backgroundColor: white;
$darkOne: #006D77;
$lightOne: #83C5BE;

$darkTwo: #006D77;
$lightTwo: #FFDDD2;

$darkThree: #006D77;
$lightThree: #8EC482;
$shadow: 0px 0px 20px rgba(0,0,0,0.3);
$shadowSoft: 0px 0px 20px rgba(0,0,0,0.15);

$pieGray: rgba(0,0,0,0.05)