<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono&display=swap" rel="stylesheet">

<title>TypingBob</title>

<link rel="stylesheet" href="../assets/css/general.css">
<link rel="icon" type="image/x-icon" href="/assets/img/logoFav.ico">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E8VYJXMJQ9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-E8VYJXMJQ9');
</script>

<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1">

<meta name="description" content="Your one and only 10-finger-typing tool! Learn and train your 10 finger skills with typingBob and read stunning texts at the same time">
<meta name="keywords" content="typing, wpm, 10 finger, typingBob, bob, typingspeed">

<meta name="propeller" content="9ad3be16031334752c04c7f8877bd3d9">
