<div class="overlay" id="login">
    <h1 class="heading">Login</h1>

    <form method="post" action="/login">
        <input class="input" type="text" name="mail" placeholder="Mail"><br>
        <input class="input" type="password" name="password" placeholder="Password"><br>

        <div class="overlay_buttons">
            <input class="button two" type="button" value="Close" onclick="closeLogin()">
            <input class="button one" type="submit" value="Login">
        </div>
    </form>
</div>