<div class="overlay bigoverlay" id="profile">
    <h1 class="heading">Profile</h1>

    <div class="stats two">
        <h3>All time Stats</h3>

        <div class="statsBox_Wrapper">
            <div class="statsBox">
                <p>Average Speed:</p>
                <p id="speed_avg_all">0 wpm</p>
            </div>
    
            <div class="statsBox">
                <p>Average Accurarcy:</p>
                <p id="accuarcy_avg_all">0 %</p>
            </div>
            
            <div class="statsBox">
                <p>Top Speed:</p>
                <p id="best_all">0 wpm</p>
            </div>
            
            <div class="statsBox">
                <p>Total Time:</p>
                <p id="time_all">12:30</p>
            </div>
    
            <div class="statsBox">
                <p>Total Lessons:</p>
                <p id="lessons_all">230</p>
            </div>
        </div>
        
    </div>

    <div class="stats one">
        <h3>Todays Stats</h3>

        <div class="statsBox_Wrapper">
            <div class="statsBox">
                <p>Average Speed:</p>
                <p id="speed_avg_today">0 wpm</p>
            </div>
    
            <div class="statsBox">
                <p>Average Accurarcy:</p>
                <p id="accuarcy_avg_today">0 %</p>
            </div>
            
            <div class="statsBox">
                <p>Top Speed:</p>
                <p id="best_today">0 wpm</p>
            </div>
            
            <div class="statsBox">
                <p>Total Time:</p>
                <p id="time_today">12:30</p>
            </div>
    
            <div class="statsBox">
                <p>Total Lessons:</p>
                <p id="lessons_today">230</p>
            </div>
        </div>
        
    </div>

    <div class="overlay_buttons bigoverlay_buttons">
        <button class="button two overlay_close" onclick="closeProfile()">Close</button>
        <button class="button one overlay_close" onclick="closeProfile()">Share</button>
    </div>


    
</div>