<div class="overlay" id="register">
    <h1 class="heading">Register</h1>

    <form method="post" action="/register">
        <input class="input" type="text" name="mail" placeholder="Mail"><br>
        <input class="input" type="password" name="password" placeholder="Password"><br>

        <div class="overlay_buttons">
            <input class="button two" type="button" value="Close" onclick="closeRegister()">
            <input class="button one" type="submit" value="Register">
        </div>
        
    </form>

    
</div>