<div class="overlay bigoverlay" id="settings">
    <h1 class="heading headingSettings">Settings</h1>

    <div class="bookShelf" id="bookShelf">
        <div class="book one">
            <img class="bookcover" src="./assets/img/bookcover/produktManagementFitting.png">
            <div class="progess">
                <div class="progessBar">
                    <div class="progessInner"></div>
                </div>
                <p class="percent">12%</p>
            </div>
            <button class="button one" onclick="closeSettings()">Select</button>
        </div>

        <div class="book one">

        </div>

        <div class="book one"></div>
        <div class="book one"></div>
        <div class="book one"></div>
        <div class="book one"></div>
        <div class="book one"></div>
        <div class="book one"></div>
        <div class="book one"></div>
        <div class="book one"></div>
        <div class="book one"></div>

        <div class="emptyBook"></div>
        <div class="emptyBook"></div>
        <div class="emptyBook"></div>
        <div class="emptyBook"></div>



    </div>

    <div class="overlay_buttons bigoverlay_buttons">
        <button class="button two overlay_close" onclick="closeSettings()">Close</button>
        <button class="button one overlay_close" onclick="closeSettings()">Share</button>
    </div>
</div>