
<div id="sidebar">
    <button class="button one sidebarButton" onclick="openSidebar('profile')">Profile</button><br>
    <button class="button two sidebarButton" onclick="openSidebar('textSelector')">Text Selector</button><br>
    <button class="button three sidebarButton" onclick="openSidebar('settings')">Settings</button><br>
    <button class="button one sidebarButton" onclick="window.location = '/logout'">Logout</button>
    <div id="sidebarContent">
        
    </div>
</div>

