<div class="benefits">
    

    <%- include ("partials/closeButton") %>

    <img class="benefits_logo" src="/assets/img/logo.png"> 

    <h1>Join the club! For Free!</h1>

    <p>Create an account to get greate benefits!</p>

    <div class="benefitWrapper">
        <div class="oneBenefit">Less ads</div>
        <div class="oneBenefit">Settings for customization</div>
        <div class="oneBenefit">Typing history</div>
    </div>

    <div class="buttonWrapper">
        <button class="button one" onclick="loginFromBenefit()">Login</button>
        <button class="button one" onclick="registerFromBenefit()">Register</button>
    </div>
</div>

